.card-page {
    padding: 20px;
    text-align: center;
}

.header {
    font-size: 30px;
    color: orange;
    margin: 30px 0;
    margin-top: -75px;
    font-weight: normal;
}

/* Profile Section */
.profile-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 309px;
    height: 309px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.profile-content {
    text-align: center;
}

.profile-name {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.profile-description {
    color: #555;
    margin-top: 5px;
    line-height: 1.5;
}

/* Card Grid */
.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content {
    text-align: center;
    font-weight: bold;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.card-description {
    font-size: 0.9em;
    color: #666;
}

.who-we-are-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 17px;
    margin-top: -90px;
}

.who-we-are-title h1 {
    font-size: 30px;
    color: orange;
    font-weight: normal;
}

.line {
    width: 80px;
    height: 1px;
    background-color: #000;
}

/* Media Query for Mobile Responsiveness */
@media (max-width: 672px) {
    .profile-section {
        flex-direction: column;
        text-align: center;
    }

    .profile-image {
        margin-right: 0;
        width: 150px;
        height: 150px;
    }

    .profile-content {
        margin-top: 10px;
    }

    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-image {
        width: 100%;
        height: 300px;
        object-fit: cover;

    }
    .card-page {
        padding: 20px;
        text-align: center;
        margin-top: -250px;
    }
}

@media (width: 460px) {
    .who-we-are-title h1 {
        font-size: 24px;
    }

    .card-grid {
        grid-template-columns: 1fr;
    }
    .card-image {
        width: 100%;
        height: 400px;
        object-fit: cover;

    }

    .card-title {
        font-size: 1em;
    }

    .card-description {
        font-size: 0.8em;
    }
    .card-page {
        padding: 20px;
        text-align: center;
        margin-top: -91px;
    }
}
