.home-page {
    position: relative;
    overflow: hidden; /* Ensures the video stays within its container */
    height: 90vh; /* Ensure the container takes up the full viewport height */
}

.background-video {
    position: absolute; /* Ensure the video covers the container */
    top: 0;
    left: 0;
    width: 100%;
    height: 75%; /* Ensure the video covers the full height */
    object-fit: cover; /* Ensures the video covers the container without distortion */
    z-index: -1; /* Puts the video behind other content */
}

.content {
    position: relative;
    z-index: 1; /* Ensures content appears above the video */
    color: white; /* Adjust text color for better visibility */
    padding: 90px;
    text-align: center;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .background-video {
        height: 50%; /* Adjust height for tablets */
    }

    .content {
        padding: 50px; /* Adjust padding for tablets */
    }

    .content h1 {
        font-size: 24px; /* Adjust font size for tablets */
    }
}

@media (max-width: 480px) {
    .background-video {
        height: 40%; /* Adjust height for mobile devices */
    }

    .content {
        padding: 20px; /* Adjust padding for mobile devices */
    }

    .content h1 {
        font-size: 20px; /* Adjust font size for mobile devices */
    }
}
